<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cash Loan App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex items-center justify-center h-screen">
  <div class="flex items-center justify-center">
            <span class="text-[#06507b] text-3xl font-bold mr-3">
        ERROR 404
    </span>
    <span class="text-xl text-[#06507b]">
     Page Not Found!
    </span>
  </div>
  <div class="ml-4 flex items-center justify-center">
        <span>
         <a href="/"
            class="mr-6 text-sm font-medium text-[#06507b] dark:text-[#06507b] hover:underline">Go Back to Home</a>
    </span>
  </div>


</div>


</body>
</html>